// *START JS
//- script(defer src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js")
//- script(defer src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js")
//- script(defer src="https://www.gstatic.com/firebasejs/7.17.1/firebase-storage.js")
script(gs defer src="script/app.js")
script(gd defer src="script/app.min.js")
// *END JS
