// !START SEO
meta(name="description" content="A simple white-board for tutorials purposes.")
meta(name="author" content="Eissa Saber")
// START SHARE
// All Websites
meta(property="og:title" content="White Board")
meta(property="og:description" content="A simple white-board for tutorials purposes.")
meta(property="og:image" content="https://eissa.xyz/white-board/img/thumbnail.jpg")
meta(property="og:url" content="https://eissa.xyz/white-board/")
meta(property="og:site_name" content="White Board")
meta(property="og:type" content="website")
// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="White Board")
meta(name="twitter:description" content="A simple white-board for tutorials purposes.")
meta(name="twitter:image" content="https://eissa.xyz/white-board/img/thumbnail.jpg")
// END SHARE
link(href="https://eissa.xyz/white-board/" rel="canonical")
meta(name="robots" content="index, follow")
// !END SEO
