// *START CSS
//- link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap")
link(gs rel="stylesheet" href="style/app.css")
link(gd rel="stylesheet" href="style/app.min.css")
//- link(rel="alternate stylesheet" title="darkmode" href="style/darkmode.css" disabled)
// *END CSS
