//- START HELPERS
include ../helpers/variables
include ../helpers/mixins
//- END HELPERS

//- START SIGNATURE
include ../components/signature
//- END SIGNATURE
doctype
html(lang="en" dir="ltr")
    head

        meta(charset="UTF-8")
        title White Board
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        //- START STATUS BAR
        include ../components/statusBar
        //- END STATUS BAR

        //- START SEO
        include ../components/seo
        //- END SEO

        //- START CSS
        include ../components/style
        //- END CSS

        //- START HTMLSHIV
        <!-- [if lt IE 9]>
        script(src="script/html5shiv.js")
        <![endif] -->
        //- END HTMLSHIV

    body

        // !START MAIN WRAPPER
        main

            //- nav
            include ../layout/nav

            //- board 
            canvas

        // !END MAIN WRAPPER

        //- footer
        include ../layout/footer

        //- START JS
        include ../components/script
        //- END JS